{% extends 'base.html.twig' %}

{% block title %}Edit Intervention{% endblock %}

{% block body %}
    <h1>Edit Intervention</h1>

    {{ include('intervation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_intervation_index') }}">back to list</a>

    {{ include('intervation/_delete_form.html.twig') }}
{% endblock %}
